<div class="container">
  <div class="row">
    <div class="mx-auto my-5">
      <h2 class="text-center mb-4">プロフィール編集</h2>
      <% if @user.errors.any? %>
        <div class="notice">
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with model: @user, local: true do |f| %>
        <div class="field">
          <%= f.label "プロフィール画像" %><br/>
          <%= f.attachment_field :profile_image %>
        </div>
        <div class="field">
          <%= f.label "募集状況" %><br/>
          <%= f.radio_button :is_active, 'true' %>
          <%= f.label :is_active, '募集中', value: true %>
          <%= f.radio_button :is_active, 'false' %>
          <%= f.label :is_active, '募集終了', value: false %>
        </div>
        <div class="field">
          <%= f.label :name, "名前" %><br/>
          <%= f.text_field :name, size: 30 %>
        </div>
        <div class="field">
          <%= f.label "プロ/アマ" %><br/>
          <%= f.radio_button :status, 'アマチュア' %>
          <%= f.label :status, 'アマチュア', value: "アマチュア" %>
          <%= f.radio_button :status, 'プロ' %>
          <%= f.label :status, 'プロ', value: "プロ" %>
        </div>
        <div class="field">
          <%= f.label :age, "年齢" %><br/>
          <%= f.number_field :age, min: 0, max: 100 %>歳
        </div>
        <div class="field">
          <%= f.label :height, "身長" %><br/>
          <%= f.number_field :height, min: 100, max: 200 %>cm
        </div>
        <div class="field">
          <%= f.label :area, "地域" %><br/>
          <%= f.select :area, User.areas.keys.to_a, include_blank: "選択して下さい" %>
        </div>
        <div class="field">
          <%= f.label :experience, "社交ダンス歴" %><br/>
          <%= f.select :experience, User.experiences.keys.to_a, include_blank: "選択して下さい" %>
        </div>
        <div class="field">
          <%= f.label :introduction, "その他(持ち級など)" %><br/>
          <%= f.text_area :introduction, size: "50x5" %>
        </div>
        <div class="actions">
          <%= f.submit "プロフィール更新", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>