<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <table class="table">
        <tr><%= attachment_image_tag @user, :profile_image, size: "200x200", fallback: "no_image.jpg" %></tr>
        <tr>
          <th>募集状況</th>
          <td>
            <% if @user.is_active %>
              【<font color="green">募集中</font>】
            <% else %>
              【<font color="gray">募集終了</font>】
            <% end %>
          </td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @user.name %> 【<%= @user.status %>】</td>
        </tr>
        <tr>
          <th>年齢</th>
          <td><%= @user.age %>歳</td>
        </tr>
        <tr>
          <th>身長</th>
          <td><%= @user.height %>cm</td>
        </tr>
        <tr>
          <th>体重・体型</th>
          <td><%= @user.weight %></td>
        </tr>
        <tr>
          <th>地域</th>
          <td><%= @user.area %></td>
        </tr>
        <tr>
          <th>社交ダンス歴</th>
          <td><%= @user.experience %>(学連：<%= @user.club_status %>）</td>
        </tr>
        <tr>
          <th>持ち級</th>
          <td><%= @user.grade %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
      <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success" %>
      <% if Post.where(user_id: @user.id).exists? %>
        <%= link_to "自分の募集要項を見る", post_path(@user), class: "btn btn-success" %>
      <% else %>
        <%= link_to "募集要項を作成する", new_post_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>