<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <table class="table">
        <tr><%= attachment_image_tag @user, :profile_image, size: "200x200", fallback: "no-image-icon.jpg" %></tr>
         <tr>
          <td>
            <% if @user.is_active %>
              【<font color="green">募集中</font>】
            <% else %>
              【<font color="gray">募集終了</font>】
            <% end %>
          </td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @user.name %></td>
          <td>【<%= @user.status %>】</td>
        </tr>
        <tr>
          <th>年齢</th>
          <td><%= @user.age %></td>
        </tr>
        <tr>
          <th>身長</th>
          <td><%= @user.height %></td>
        </tr>
        <tr>
          <th>地域</th>
          <td><%= @user.area %></td>
        </tr>
        <tr>
          <th>社交ダンス歴</th>
          <td><%= @user.history %></td>
        </tr>
        <tr>
          <th>学連経験</th>
          <td><%= @user.club_status %></td>
        </tr>
        <tr>
          <th>持ち級</th>
          <td><%= @user.grade %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
    </div>
  </div>
</div>