<div class="container">
  <p class="notice"><%= flash[:notice] %></p>
  <div class="row mypage-main">
    <div class="col-6 mx-auto mt-3">
      <h1 class="text-center">
        <% if current_user == @user %>
          My Page
        <% else %>
          <%= @user.name %>さんのPage
        <% end %>
      </h1>
      <div class="text-center mt-5">
        <%= attachment_image_tag @user, :profile_image, size: "180x180", fallback: "no_image.jpg", style: "border-radius: 50%;" %>
      </div>
      <table class="table mt-5">
        <tr>
          <th>募集状況</th>
          <td>
            <% if @user.is_active %>
              【<font color="green">募集中</font>】
            <% else %>
              【<font color="gray">募集終了</font>】
            <% end %>
          </td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @user.name %> 【<%= @user.status %>】</td>
        </tr>
        <tr>
          <th>年齢</th>
          <td><%= @user.age %>歳</td>
        </tr>
        <tr>
          <th>身長</th>
          <td><%= @user.height %>cm</td>
        </tr>
        <tr>
          <th>地域</th>
          <td><%= @user.area %></td>
        </tr>
        <tr>
          <th>社交ダンス歴</th>
          <td><%= @user.experience %> (学連：<%= @user.club_status %>）</td>
        </tr>
        <tr>
          <th>その他(持ち級など)</th>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
    </div>
    <div>
      <% if @user.id == current_user.id %>
        <ul class="mt-5 side_menu">
          <li class="nav-item">
            <%= link_to edit_user_path(@user), class: "btn" do %>
              <i class="fas fa-user-edit fa-lg"></i> プロフィール編集
            <% end %>
          </li>
          <li class="nav-item">
            <% if Post.where(user_id: @user.id).exists? %>
              <%= link_to post_path(@user.post), class: "btn" do %>
                <i class="fas fa-edit fa-lg"></i> 自分の募集要項を見る
              <% end %>
            <% else %>
              <%= link_to new_post_path, class: "btn" do %>
                <i class="fas fa-edit fa-lg"></i> 募集要項を作成する
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_favorites_path(@user), class: "btn" do %>
              <i class="fas fa-heart fa-lg"></i> 気になる一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to notifications_path, class: "btn" do %>
              <% if @unchecked_notifications.any? %>
                <i class="fas fa-bell fa-lg faa-flash animated"></i> 通知一覧
              <% else %>
                <i class="fas fa-bell fa-lg"></i> 通知一覧
              <% end %>
            <% end %>
          </li>
        </ul>
        <div class="recommend mt-5 mb-3">
          <h4>あなたにおすすめ</h4>
          <% unless @recommend_users == [] %>
            <% @recommend_users.each do |recommend_user| %>
              <table>
                <tr>
                  <td class="recommend-td"><%= link_to recommend_user.name, user_path(recommend_user) %>さん</td>
                  <td><%= link_to "詳細を見る", user_path(recommend_user), class: "btn btn-primary" %></td>
                </tr>
              </table>
            <% end %>
          <% else %>
            <p>現在、見つかりません</p>
          <% end %>
        </div>
      <% else %>
        <ul class="mt-5 text-left side_menu">
          <li class="nav-item">
            <% if Post.where(user_id: @user.id).exists? %>
              <%= link_to post_path(@user.post), class: "btn" do %>
                <i class="far fa-address-book fa-lg"></i> <%= @user.name %>さんの募集要項を見る
              <% end %>
            <% else %>
              <p>募集要項はまだありません</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to chat_path(@user), class: "btn" do %>
              <i class="fas fa-paper-plane fa-lg"></i> メッセージを送る
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>