<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row mypage-main">
    <div class="side_img">
      <h1 class="mypage-title text-center">My Page</h1>
    </div>
    <div class="col-5 text-left ml-2 mt-2">
      <table class="table">
        <tr><%= attachment_image_tag @user, :profile_image, size: "180x180", fallback: "no_image.jpg", style: "border-radius: 50%;" %></tr>
        <tr>
          <th>募集状況</th>
          <td>
            <% if @user.is_active %>
              【<font color="green">募集中</font>】
            <% else %>
              【<font color="gray">募集終了</font>】
            <% end %>
          </td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @user.name %> 【<%= @user.status %>】</td>
        </tr>
        <tr>
          <th>年齢</th>
          <td><%= @user.age %>歳</td>
        </tr>
        <tr>
          <th>身長</th>
          <td><%= @user.height %>cm</td>
        </tr>
        <tr>
          <th>地域</th>
          <td><%= @user.area %></td>
        </tr>
        <tr>
          <th>社交ダンス歴</th>
          <td><%= @user.experience %>(学連：<%= @user.club_status %>）</td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
    </div>
    <div>
      <ul class="mt-5 side_menu">
        <% if @user.id == current_user.id %>
          <li class="nav-item">
            <%= link_to edit_user_path(@user), class: "btn" do %>
              <i class="fas fa-user-edit"></i> プロフィール編集
            <% end %>
          </li>
          <li class="nav-item">
            <% if Post.where(user_id: @user.id).exists? %>
              <%= link_to post_path(@user), class: "btn" do %>
                <i class="fas fa-edit"></i> 自分の募集要項を見る
              <% end %>
            <% else %>
              <%= link_to new_post_path, class: "btn" do %>
                <i class="fas fa-edit"></i> 募集要項を作成する
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_favorites_path(@user), class: "btn" do %>
              <i class="fas fa-heart"></i> 気になる一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: "btn" do %>
              <i class="fas fa-envelope"></i> メッセージ通知
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>