<table class="table mt-5">
    <tr>
      <th>【<%= user.area %>】</th>
      <td>
        <% if user.target == true %>
          <%= post.status %>リーダー募集
        <% else %>
          <%= post.status %>パートナー募集
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="post-th">投稿者</th>
      <td><%= user.name %>(<%= user.status %>)</td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= user.age %>歳</td>
    </tr>
    <tr>
      <th class="post-th">希望種目</th>
      <td><%= post.directionality %></td>
    </tr>
    <tr>
      <th class="post-th">希望練習場所</th>
      <td><%= post.place %></td>
    </tr>
    <tr>
      <th class="post-th">募集コメント</th>
      <td><%= post.comment %></td>
    </tr>
  </table>
  <%= link_to "詳細を見る", post_path(post), class: "btn btn-success" %></td>