<h3>条件検索</h3>
<%= form_with(scope: :search, url: search_posts_path, method: :get, local: true) do |f| %>
  <div class="field"> 
    <%= f.label "募集対象" %><br/>
    <%= f.radio_button :target, 'false', checked: search_params[:target] == "false" %>
    <%= f.label :target, 'リーダー', value: false %>
    <%= f.radio_button :target, 'true', checked: search_params[:target] == "true" %>
    <%= f.label :target, 'パートナー', value: true %>
  </div>
  <div class="field">
    <%= f.label "プロ/アマ" %><br/>
    <%= f.radio_button :status, 'アマチュア', checked: search_params[:status] == "アマチュア" %>
    <%= f.label :status, 'アマチュア', value: "アマチュア" %>
    <%= f.radio_button :status, 'プロ' %>
    <%= f.label :status, 'プロ', value: "プロ", checked: search_params[:status] == "プロ" %>
  </div>
  <div class="field">
    <%= f.label :height, "身長" %><br/>
    <%= f.number_field :height_from, min: 100, max: 200, value: search_params[:height_from] %>cm ~
    <%= f.number_field :height_to, min: 100, max: 200, value: search_params[:height_to] %>cm
  </div>
  <div class="field">
    <%= f.label :age, "年齢" %><br/>
    <%= f.number_field :age_from, min: 0, max: 100, value: search_params[:age_from] %>歳 ~
    <%= f.number_field :age_to, min: 0, max: 100, value: search_params[:age_to] %>歳
  </div>
  <div class="field">
    <%= f.label :area, "地域" %><br/>
    <%= f.select :area, User.areas.keys.to_a, include_blank: "選択して下さい", selected: search_params[:area] %>
  </div>
  <div class="actions">
    <%= f.submit '検索', class: "btn btn-success" %>
  </div>
<% end %>