<div class="container">
  <div class="row">
    <div class="col-6 mx-auto mt-3">
      <h2 class="text-center">募集詳細</h2>
      <table class="table">
        <tr>
          <th>投稿者</th>
          <td><%= link_to @user.name, user_path(@user) %> (<%= @user.age %>歳、<%= @user.height %>cm)</td>
        </tr>
        <tr>
          <th>地域</th>
          <td><%= @user.area %></td>
        </tr>
        <tr>
          <th>社交ダンス歴</th>
          <td><%= @user.experience %>(学連：<%= @user.club_status %>）</td>
        </tr>
        <tr>
          <th>その他(持ち級など)</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>プロ・アマ希望</th>
          <td><%= @post.status %></td>
        </tr>
        <tr>
          <th>希望種目</th>
          <td><%= @post.directionality %></td>
        </tr>
        <tr>
          <th>希望年齢</th>
          <td><%= @post.min_age %>歳〜<%= @post.max_age %>歳</td>
        </tr>
        <tr>
          <th>希望身長</th>
          <td><%= @post.min_height %>cm〜<%= @post.max_height %>cm</td>
        </tr>
        <tr>
          <th>希望ダンス歴</th>
          <td><%= @post.experience %></td>
        </tr>
        <tr>
          <th>希望練習場所</th>
          <td><%= @post.place %></td>
        </tr>
        <tr>
          <th>希望練習頻度</th>
          <td><%= @post.frequency %></td>
        </tr>
        <tr>
          <th height="150">募集コメント</th>
          <td><%= @post.comment %></td>
        </tr>
        <tr>
          <th>最終更新日</th>
          <td><%= @post.updated_at.to_s(:datetime_jp) %></td>
        </tr>
      </table>
      <% if @post.user_id == current_user.id %>
        <%= link_to "募集要項編集", edit_post_path(@post), class: "btn btn-success" %>
      <% else %>
        <span class="favorite-btn_<%= @post.id %>"><%= render 'favorites/favorite-btn', post: @post %></span>
        <%= link_to "メッセージを送る", chat_path(@user), class: "btn btn-primary" %>
      <% end %>
      <%= link_to "募集一覧へ", posts_path, class: "btn btn-info" %>
    </div>
  </div>
</div>