<div class="container-fluid sign_up">
  <div class="row">
    <div class="col-6 mx-auto my-5">
      <h2 class="text-center mb-3">入力情報確認</h2>
      <p class="text-center">
        以下の内容でよろしいですか？<br/>
        間違いがなければ、「新規登録」ボタンを押してください。
      </p>
      <table class="table mt-5">
        <tr>
          <th>名前</th>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= user.email %></td>
        </tr>
        <tr>
          <th>募集対象</th>
          <td>
            <% if user.target == "true" %>
              リーダー
            <% else %>
              パートナー
            <% end %>
          </td>
        </tr>
        <tr>
          <th>プロ/アマ</th>
          <td><%= user.status %></td>
        </tr>
        <tr>
          <th>年齢</th>
          <td><%= user.age %>歳</td>
        </tr>
        <tr>
          <th>身長</th>
          <td><%= user.height %>cm</td>
        </tr>
        <tr>
          <th>地域</th>
          <td><%= user.area %></td>
        </tr>
        <tr>
          <th>社交ダンス歴</th>
          <td><%= user.experience %></td>
        </tr>
        <tr>
          <th>学連経験</th>
          <td><%= user.club_status %></td>
        </tr>
        <tr>
          <th>その他(持ち級など)</th>
          <td><%= user.introduction %></td>
        </tr>
        <tr>
          <th>パスワード</th>
          <td><%= password %></td>
        </tr>
      </table>
      <%= form_with model: user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
        <%= hidden_field :user, :name %>
        <%= hidden_field :user, :email %>
        <%= hidden_field :user, :target %>
        <%= hidden_field :user, :status %>
        <%= hidden_field :user, :age %>
        <%= hidden_field :user, :height %>
        <%= hidden_field :user, :area %>
        <%= hidden_field :user, :experience %>
        <%= hidden_field :user, :club_status %>
        <%= hidden_field :user, :introduction %>
        <%= hidden_field :user, :password %>
        <script>
        　$(function() {
            $('html,body').scrollTop(0);
          });
        </script>
        <div class="actions text-center">
          <%= f.submit "修正する", class: "btn btn-danger mx-3", name: :back %>
          <%= f.submit "新規登録", class: "btn btn-success mx-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>